.tracker {
  padding: 96px 0;
  background-repeat: no-repeat;
  background-position: center 170px;


  &__title {
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 32px;
  }
  &__list{
    padding-left: 20px;
  }

  &__item {
    padding-left: 32px;
    position: relative;
    font-size: 18px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url('../img/icons/mark.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}