*,
*::before,
*::after {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

$t-main: #333945;
$title: #555A64;
$header-title: #FFFFFF;
$btn-bg: #941759;
$bg-main:#F2FBDD;
$login:#81A332;


$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1200;





html,
body {
  min-height: 100%;
  position: relative;
  line-height: 2;
  background-color: $header-title;
}

body {
  font-size: 16px;
  @include roboto-regular;
  color: $t-main;
}



.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background-color: $btn-bg;
  border-radius: 4px;
  padding: 16px 24px;
  @include mon-semi;
  font-size: 14px;
  line-height: 1.2;
  color: $header-title;
  display: inline-block;
}

.section {
  &__title {
    font-size: 24px;
    @include rock-bold;
    line-height: 1.2;
    color: $title;
    text-align: center;
  }
  &__subtitle{
    font-size: 18px;
    line-height: 1.8;
  }
}

.bg-main{
  background-color: $bg-main;
}