<header class="header  bg-main" style="background-image: url('../img/content/header-bg.png');">
  <div class="container">

    <nav class="header__nav nav">
      <div class="nav__mobile">

        <a href="#" class="nav__logo logo">
          <img class="logo__img" src="img/content/logo.svg" alt="logo">
        </a>
        <div class="nav__toggle">
          <span class="nav__line"></span>
        </div>
      </div>
      <div class="nav__links">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Solutions</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Blog</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">FAQ</a>
          </li>
        </ul>
        <a href="#" class="header__login">Log in</a>
      </div>
    </nav>
  </div>

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="#">Main</a>
    </li>
    <li class="breadcrumbs__item">
      <span class="breadcrumbs__link breadcrumbs__link--active">Review Monitoring </span>
    </li>
  </ul>
  <div class="container">
    <div class="header__bottom">

      <div class="header__content">
        <h1 class="header__title">Protect Your Seller Reputation with Amazon Review Tracker</h1>
        <div class="header__subtitle">Unlock the ultimate opportunities for Amazon review monitoring. Unlimited ASINs -
          One Amazon management tool!</div>
        <a href="#" class="header__btn btn">Try it free</a>
      </div>
      <div class="header__box">
        <img src="img/content/hero.png" alt="Protect Your Seller Reputation with Amazon Review Tracker
        " class="header__img">
      </div>
    </div>
  </div>
</header>