<section class="control section bg-main">
  <div class="container">

    <h2 class="section__title control__title">Take Your Amazon Reviews and Product Rankings Under Control
    </h2>
    <div class="control__subtitle section__subtitle">
      Get notified about all new reviews and respond quickly with Amazon monitoring tools.
    </div>
    <div class="control__box">
      <img class="control__img" src="img/content/control-bg.svg" alt="Take Your Amazon Reviews and Product Rankings Under Control">
    </div>
  </div>
</section>