<section class="advantages">
  <h2 class="sr-only">Our advantages</h2>
  <div class="container">
    <div class="advantages__inner">
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"Customize AMZ Alert Reviews",
      "title-modif": "advantage__title--alert",
      "ad-text": "Manual Amazon review tracking is time-consuming. Set your Amazon review alerts in the way you find the most effective for your business and recieve them automatically. You can get alerted about all new reviews or just about negative ones. Add your employees’ emails for notifications so you won’t miss a single critical review. "
    })
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"24/7 Amazon Review Notifications",
      "title-modif": "advantage__title--notification",
      "ad-text": "Manage all buyer feedback, star ratings, and reviews in a single place with our round-the-clock review monitoring feature. AMZ review tracker tracks unlimited ASINs and sends instant notifications so you stay fully aware of your customers’ experience. "
    })
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"Export and Analyze Your Amazon Business Insights",
      "title-modif": "advantage__title--analyze",
      "ad-text": "With AMZ tracking review tool, you get access to data-driven insights shared by your customers. Just export your Amazon product reviews report in CSV and unlock customer-centric opportunities for your business growth."
    })
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"Find Out What Your Customers Actually Think About Your Products and Customer Service",
      "title-modif": "advantage__title--think",
      "ad-text": "Dig deeper in each AMZ tracker product review and track your customers’ actual impressions. Reveal both positive and negative reviews on your products and customer support instantly."
    })
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"Get Instant Negative Review Alerts",
      "title-modif": "advantage__title--bell",
      "ad-text": "Getting an instant Amazon review notification is vital when it comes to managing negative reviews. The truth is that you can’t please them all. But you can turn each negative review into the opportunity to get started with doing things better."
    })
    @@include('../bem-blocks/_1.advantage.html',{
      "advantages__card":"advantages__card",
      "ad-title":"Respond to Positive Product Reviews",
      "title-modif": "advantage__title--like",
      "ad-text": "Communicating with satisfied customers is also essential. You can use their experience as customer-driven insights and suggestions to improve your product, ad copy and descriptions."
    })

    </div>
  </div>
</section>