<section class="section tracker bg-main" style="background-image: url('../img/content/tracker-bg.svg');">
  <div class="container">
    <h2 class="section__title tracker__title">SageMailer AMZ Review Tracker Does It All For You</h2>
    <div class="section__subtitle tracker__subtitle">
      <p>Be smart with your Amazon review management. Your customers are already smart enough to carefully read them before deciding on the purchase. SageMailer is a one-stop solution with a well-developed set of features for Amazon seller reputation control. </p>
    </div>
    <ul class="tracker__list">
      <li class="tracker__item">Manage all your Amazon reviews for unlimited ASINs in one place.</li>
      <li class="tracker__item">Get instant notifications automatically.</li>
      <li class="tracker__item">Respond to negative reviews ASAP.</li>
      <li class="tracker__item">Export, analyze and share reviews in CSV.</li>
      <li class="tracker__item">Find trending keywords in your customers’ comments to better tailor your ads copy.</li>
    </ul>
  </div>
</section>