<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <h2 class="footer__title title">Feel like SageMailer fits your online reputation management strategy?
        Get started with it for free right now!</h2>
      <ul class="footer__list">
        <li class="footer__item footer__item--clock">One-minute setup</li>
        <li class="footer__item footer__item--card">No credit card required</li>
        <li class="footer__item footer__item--support">Cheerful support team</li>
      </ul>
      <a href="#" class="btn footer__btn">Start Free 30-day Trial</a>
    </div>
  </div>
</footer>